<section name="frame">
  <li class="frame">
    <div class="subtitle">
      <strong><em>{{ title }}</em> in <em>{{ institution }}</em> - {{ from }} -> {{ to }}</strong>
    </div>
    <br />
    <blockquote>
      {{ description }}
    </blockquote>
  </li>
</section>
